APP_ENV=development
API_V1_STR=/api/v1
DATABASE_URL=postgresql+psycopg://bookuser:bookpass@db:5432/book_review
GOOGLE_BOOKS_API_KEY=
SECRET_KEY=change_me_to_a_secure_secret
CORS_ALLOW_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:9000,http://127.0.0.1:9000
